@model List<ProdutoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Produto" asp-action="Criar">Adicionar Novo Produto</a>
    </div>
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-lable="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-lable="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Listagem de Produtos</h1>

    <table class="display" style="width:100%" id="table-produtos">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Estoque</th>
                <th scope="col">Marca</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor Estoque</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (ProdutoModel produto in Model)
                {
                    <tr>
                        <th scope="row">@produto.Id</th>
                        <td>@produto.Nome</td>
                        <td>@produto.Estoque</td>
                        <td>@produto.Marca</td>
                        <td>@produto.Categoria</td>
                        <td>@produto.ValorEstoque()</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" produto-id="@produto.Id" asp-route-id="@produto.Id" class="btn btn-info btn-modal-imagem" data-bs-toggle="modal" data-bs-target="#modalFotoProduto">
                                    Fotos
                                </button>
                                <a role="button" class="btn btn-primary" asp-route-id="@produto.Id" asp-controller="Produto" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@produto.Id" asp-controller="Produto" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="modalFotoProduto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Listagem de Contatos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="col-12">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" id="descricao" placeholder="Digite a Descrição do Produto">
                    </div>

                    <br />

                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="imagemUrl">
                        <label class="input-group-text" for="imagemUrl">Carregar</label>
                    </div>
                    <br />

                    <button type="button" class="btn btn-dark btn-adicionar-imagem">Adicionar</button>

                    <hr />
                    <div id="listaFotosProduto"></div>
                </div>
            </div>
        </div>
    </div>
</div>